html {
	font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
	font-family: placeholder: this should be the rest of the output you got from Google fonts
}
html {
	background-color: #00539F;
}
h1 {
	margin: 0;
	text-align: center;
	padding: 20px 0;    
	color: #00539F;
	text-shadow: 3px 3px 1px black;
}
p, li {   
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}
img {
	display: block;
	margin: 0 auto;
}
body {
	width: 600px;
	margin: 0 auto; /*元素外部的空間*/
	background-color: #FF9500;
	padding: 0px 20px 20px 20px; /*內容周圍的空格*/
	border: 5px solid black; /*矩形內容外部的實線*/
}